[2017-02-21 22:26] GiladShoham opened #2 "Recomendation for better implamantation"
Hi,

I Have just implemented a similar library.
And just now I found out that instead of all the serialize and deserialize with delimiter mechanism you use.
You can just get the custom error that way:

[code]

see more in the graphql source [here](https://github.com/graphql/graphql-js/blob/44f315d1ff72ab32b794937fd11a7f8e792fd873/src/error/GraphQLError.js#L66-L69)

I did the same mistake, and I'm

[2017-02-21 22:35] thebigredgeek commented on #2
Ah nice!  Care to make a PR?

[2017-02-22 12:08] GiladShoham commented on #2
I can make it, but it will take some time since I'm going to be out of the country for some time.

[2017-03-13 14:49] Cyberlane opened #3 "formatError is not working for me"
Things to note, I am using `graphql-server-express` version `0.6.0`, and I have hooked up `formatError` to my graphqlExpress, it just doesn't seem to work.

I created a new error with

[code]

I used the error

[code]

and I receive the following from GraphQL

[code]

Am I missing something obvious, or did I find a bug?

[2017-03-13 20:30] thebigredgeek commented on #3
@Cyberlane can you paste a snippet showing me how you are hooking up formatErrors?

[2017-03-13 20:32] thebigredgeek opened #4 "add integration tests for use with graphql-server-<insert variant>"
Need integration tests

[2017-03-14 07:11] Cyberlane commented on #3
@thebigredgeek sure, no problem. The code still needs a little refactoring to be clearer, right now I am just trying to make things work.

[code]

`bodyParser` => `require('body-parser')`
`fetchWithCookies`  => my own wrapper around `node-fetch` to inject cookies
Everything else should make sense, but please ask if anything is unclear please shout!

[2017-03-14 18:41] thebigredgeek commented on #3
@Cyberlane Interesting.  I'll definitely look into this later on this week.  It might be a regression with newer versions of `graphql-server`.

[2017-03-14 18:43] thebigredgeek commented on #3
@Cyberlane can you write a wrapper function and `console.log` the raw error like this:

[code]

[2017-03-14 19:07] thebigredgeek commented on #3
I was unable to reproduce on `graphql-server-express` 0.6.0.  Release 1.4.0 in just a couple minutes though, so why don't you try that out and see if it works?

[2017-03-14 21:50] thebigredgeek commented on #2
Done!

[2017-03-14 21:50] #2 closed

[2017-03-14 21:50] thebigredgeek commented on #2
https://github.com/thebigredgeek/apollo-errors/commit/e20f9abe35f38320176e040553555f21ea9ea3c3

[2017-03-15 09:23] Cyberlane commented on #3
@thebigredgeek sorry for the late reply... time zones!

Before doing the update I had
[code]

I have now upgraded to `1.4.0` as you suggested, and now my response looks like:

[code]

and the trace looks like
[code]

So it's a change, but it's still not working.

I am on the Apollo slack if it's easier to ask a few questions there to get to the bottom of this issue.

[2017-03-17 14:38] Cyberlane commented on #3
Turns out to be a non-issue. Further down in my chain of code I was doing

[code]

when I should have had

[code]

Problem is solved.

[2017-03-17 14:38] #3 closed

[2017-03-22 01:59] SPAHI4 opened #5 "Is there any way to set http status code from error?"
I tried to pass `statusCode` to options (https://github.com/apollographql/graphql-server/blob/master/packages/graphql-server-koa/src/koaApollo.ts#L41)
[code]
 , but it doesn't work.

[2017-03-22 03:47] thebigredgeek commented on #5
Try passing the status code under the data property

[2017-03-24 20:07] #5 closed

[2017-03-24 22:11] SPAHI4 commented on #5
@thebigredgeek it just appears in the `data` field, I want to set status in the server response

[2017-03-25 19:02] thebigredgeek commented on #5
Hmm.  Apollo-errors doesn't interact with the HTTP response.  It doesn't set status codes either.  That is handled by whatwg-fetch if you are using the default Network Interface with apollo-client.  Can you tell me a little more about what you are doing or trying to do?  Or what issues you are having?  It sounds like it might not have anything to do with apollo-errors, but I would love to help you

[2017-04-07 03:48] lucasconstantino opened #6 "Dynamic messages"
Great work with this module!

There is one thing missing, though: I would like to have dynamic messages for my errors when possible. To make that happen, `message` option could be received as function.

As you don't expose ApolloError, things are harder they it should to increment your lib. Here is a work around I'm using to achieve it:

[code]

You could then use it like so:

[code]

Hope it help

[2017-04-07 07:36] thebigredgeek commented on #6
You can already override the message when you throw the error, per the docs, with whatever string you want.  Does that not handle your use case?

[2017-04-08 21:05] lucasconstantino commented on #6
No, not really. I wouldn't like to send the message always I throw the error, but I would like the message to contain some contextual information. If anyone else finds this useful after all, I can write the pull-request. Until then, I guess I'll keep using my wrapping helper.

[2017-04-09 04:28] thebigredgeek commented on #6
Interesting.  I think we could definitely add this to the package, but I am wondering how we ought to make the API work without breaking changes.  Any thoughts @lucasconstantino ?

[2017-04-21 21:48] thebigredgeek opened #7 "throwing apollo-errors from scalar resolvers with graphql-js >= 0.8.0 doesn't work"
As seen here: https://github.com/graphql/graphql-js/issues/821

There appears to have been a breaking change with scalar resolver error handling

[2017-04-24 19:29] thebigredgeek opened #8 "v2 API"
Wondering if there are any features that people would like to see in V2?

[2017-04-24 19:29] #8 closed

[2017-04-26 01:53] scf4 commented on #6
IMO this is more of a UI detail, to be implemented in a client rather than at the API level.

[2017-04-26 01:57] thebigredgeek commented on #6
@scf4 I mostly agree, but I also don't feel overly pained about adding this if enough people want it.  That said, there is nothing stopping anyone from using a factory function to return errors with dynamic messages without baking any new functionality into the lib.

[2017-04-28 21:48] riley-stroud-ck opened #9 "createError fails with no second argument"
The optional second argument is not really optional
[code]
[code]

[2017-04-28 21:50] riley-stroud-ck opened #10 "Typescript support"
I'm hoping I'll have time to work on this soon, but what are your thoughts on adding Typescript support versus a complete rewrite in Typescript?

[2017-04-28 22:08] thebigredgeek commented on #10
I was actually hoping to completely rewrite in TS.  But we can add support in the mean time if that would be better for most people

[2017-04-28 22:10] thebigredgeek commented on #9
`options` is not optional.  some of the fields ON `options` are optional, but a message property on the options object is required.  I think the solution here is an `assert` clause that gives a proper error message about `options` being required (per the docs, as well)

[2017-04-28 22:16] thebigredgeek commented on #9
https://github.com/thebigredgeek/apollo-errors/blob/master/src/index.js#L44 < there is a syntax error, though, with initializing a `default` second param... `options` isn't defined.  The default should be removed and we should use `assert` to test for validity of the second parameter

[2017-04-28 22:17] thebigredgeek commented on #7
Closing.  This is off-spec from latest GraphQL, and should be considered an anti-pattern moving forward

[2017-04-28 22:17] #7 closed

[2017-04-28 22:18] thebigredgeek commented on #6
I'm closing this for now, since there doesn't seem to be any interest in moving forward

[2017-04-28 22:18] #6 closed

[2017-05-02 17:23] thebigredgeek commented on #10
@riley-stroud-ck would you like to help with either of those options?

[2017-05-02 19:45] riley-stroud-ck commented on #10
@thebigredgeek I started on a complete rewrite in Typescript over the weekend. I'm hoping to push it tomorrow morning.

[2017-05-02 21:09] thebigredgeek commented on #10
Woot!  Thanks @riley-stroud-ck

[2017-05-06 23:22] nicolasiscoding opened #11 "How to integrate this with HapiJS implementation."
Hello,

I was wondering how we would integrate this using the 'graphql-server-hapi' package from Apollo

[2017-05-06 23:34] #11 closed

[2017-05-07 03:10] thebigredgeek commented on #11
You should just be able to install it... `formatErrors` hook is really all that is required

[2017-05-19 16:23] thebigredgeek commented on #10
Hey @riley-stroud-ck , did you ever get around to finishing that PR?

[2017-05-19 16:58] riley-stroud-ck commented on #10
Nope, I got stuck with some dependency types not working and haven't picked it up again for a while

[2017-06-03 00:01] thebigredgeek commented on #10
:(

[2017-06-23 01:04] SachaG opened #12 "Handling errors on the client (react-apollo)"
I've managed to set up this awesome package without trouble (I get the expected JSON output in my requests) but I'm not sure what to do from there.

My issue is that when I throw an error inside a mutation handled by react-apollo's `graphql` HoC, the `error` object returned by the promise doesn't contain the custom error properties defined on the server, only the `message`.

Am I doing something w

[2017-06-29 19:20] knowthen commented on #12
It looks like you grab the `graphQLErrors` property on the error.

Here's an example:

[code]

[2017-06-30 02:10] SachaG commented on #12
That did the trick, thanks!

[2017-06-30 02:10] #12 closed

[2017-07-04 01:13] slightlytyler commented on #12
Hmm it was accessible at `err.graphQLErrors[0].originalError` for me. Would be great to clarify this somewhere in the docs

[2017-07-05 17:41] thebigredgeek commented on #12
Agreed.  The docs can be improved.  The problem, though, is that a lot of this depends on Apollo and not on this package, which is BE specific.

[2017-07-18 18:15] ch-andrewrhyne commented on #9
@riley-stroud-ck any interest in submitting a PR for the syntax error fix?

[2017-07-20 21:23] thebigredgeek commented on #9
@riley-stroud-ck  any interest in submitting a PR for the syntax error fix?

[2017-08-01 02:02] scf4 opened #13 "Catching errors on the client"
Where are **query** errors supposed to be caught on the client?

I throw a `NotFoundError` on the server if an item can't be found. The error info can be accessed in `props.data.error`, but it still results in an uncaught exception.

I might be missing something fairly simple, but the apollo docs are pretty light when it comes to error handling!

[2017-08-04 17:20] thebigredgeek commented on #13
I think it really depends on your own use case.  For me, I use Redux middleware to push the errors into a separate store namespace.  This works because I pass a nonce, by default, with every request so I can easily associate errors with the query/mutation/subscription that generated them.  Then I can just connect the errors as such to whatever container made the request via a HoC

[2017-08-04 17:30] scf4 commented on #13
Hey thanks for the response. Perhaps I misunderstood, but my problem is not so much the handling of errors and dealing with them in UI, but rather the fundamentals of catching them (to prevent an uncaught exception) in the first place.

With mutations you can use try/catch blocks, but with queries and the react-apollo HoC where can that go? For some reason I was under the impression that accessing

[2017-08-04 17:30] #13 closed

[2017-08-07 13:00] acomito opened #14 "Pattern for when user logs out?"
I have setup my resolvers, one of which is:

[code]

- I have a login page, which checks to see if a user is logged in (looking in apollo store).

- If the user is logged in, the page will kick them into the "authenticated area" of the app.

- When a user is inside the app, they can click a logout button. This logout mutation returns a promise. In the .then(), I re-route the user to the login page

[2017-08-14 18:06] thebigredgeek commented on #14
Hmm, yeah you shouldn't re-run queries that expect an authenticated state once you've logged out.  this seems like something you'll need to handle on the client

[2017-08-23 17:07] ygotthilf opened #15 "Global "show locations""
Hello,

Thank you for this great module. I want to use it but I need the following improvement.

I think `formatError` should take in argument `showLocations` in order to hide or show the locations and path of any error.
Actually, to my mind, the implementation where the error is created is not responsible for how the error must be formatted/displayed : this is the role of `formatError` function.

[2017-08-25 15:12] #14 closed

[2017-08-29 17:30] ch-andrewrhyne commented on #15
Yeah sure put in a PR!  This would be useful for debugging at dev time.

[2017-08-29 17:47] thebigredgeek opened #16 "Rewrite in typescript"

[2017-08-29 18:03] thebigredgeek commented on #9
Should be fixed [here](https://github.com/thebigredgeek/apollo-errors/releases/tag/1.5.0)

[2017-08-29 18:03] #9 closed

[2017-09-04 23:31] thebigredgeek commented on #15
^ Me btw haha

[2017-09-07 08:01] lakhansamani commented on #16
@thebigredgeek Is there any repo or branch where this work is started?

[2017-09-07 16:56] ch-andrewrhyne opened #17 "Looking for additional core contributors"
Post here if you want core contrib access.  Looking for 1 or 2 people to help

[2017-09-07 17:24] thebigredgeek commented on #16
Not yet, nope!  But I am looking for help with it if you wanna get started?

[2017-09-08 05:01] lakhansamani commented on #16
Sure, would love to do that

[2017-09-08 16:36] thebigredgeek commented on #16
Awesome!  I look forward to your PR :D

[2017-09-11 09:27] lakhansamani commented on #16
Hey @thebigredgeek I have tried making typescript version, you can check here https://github.com/lakhansamani/apollo-errors/tree/typescript

Please share your feedback on this on how we want to build and publish it

[2017-09-12 16:47] thebigredgeek commented on #16
Looks good so far!  Are we able to get the existing tests passing?

Also, it might be a good idea to add types the `createError` config property etc.  Basically anything that is in interface between components and to the outside world.

[2017-09-13 08:37] lakhansamani commented on #16
@thebigredgeek test cases are passing so far

Can you explain how you want to add types, that part was not clear

[2017-09-13 19:46] thebigredgeek commented on #16
Right, so there is an interface for the `ApolloError` constructor as well as the `createError` function.  We should have a typed interface for these, and create an entry for [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) so that people can install the type definitions

[2017-09-19 10:00] wmertens opened #18 "Print query that caused the error"
It would be good to know what query caused the error and what the variables were… Maybe just in dev mode due to lots of data and possible password leaks…

[2017-09-19 10:44] wmertens commented on #18
Err - I just realized that I am expecting logging from graphql-errors, not apollo-errors 🙄 . Sorry for the noise.

[2017-09-19 10:44] #18 closed

[2017-09-21 17:20] thebigredgeek commented on #18
Haha.  Why so much love for `graphql-errors` rather than this lib? :p

[2017-09-21 18:07] wmertens commented on #18
I was thinking I should look at the error stuff that you wrote so I found
that by accident and I thought you worked at Kadira :)

I thought hiding server errors was a good idea so I started using it… it's
really orthogonal to your library though…

On Thu, Sep 21, 2017, 7:20 PM Andrew E. Rhyne <notifications@github.com>
wrote:

[2017-09-25 03:32] #16 closed

[2017-10-08 19:13] meel-io commented on #17
Count me in

[2017-10-11 01:54] savovs commented on #17
Heyo, I'm a noob but would love to contribute.

[2017-10-20 15:32] druidsgarden opened #20 "Integration with apollo-server"
Just wondering whether you'd tried to get the package working with `apollo-server` yet? We are using it within Serverless as a Lambda rather than using Express.

[2017-10-21 03:44] thebigredgeek commented on #20
This should work with `apollo-server` out of the box.  It was designed to work with it

[2017-10-21 09:06] druidsgarden commented on #20
Not with `apollo-server-lambda` it doesn't seem to. I don't know whether it's down to the version of NodeJS we are restricted to (6.10) or my lack of knowledge of NodeJS as I'm fairly new to it.

I did get it all working eventually but I had to make the following changes:

I had to change the imports to use const and define each module discretely

The Error definitions all needed to be in seperate

[2017-10-22 13:49] LuisUrrutia opened #21 "Handle GraphQLError"
I'm working with apollo-server-express, and I've created a custom scalar:

[code]

But when it throws the error, formatError doesn't parse it 'cause it's an GraphQLError:

[code]
`name` is evaluated to `GraphQLError` string, then the response it's like this:

[code]

And not how I expected to be:

[code]

[2017-10-24 19:17] rasdaniil commented on #10
https://github.com/thebigredgeek/apollo-errors/pull/22

[2017-10-26 03:21] thebigredgeek commented on #21
Can you reproduce this with a test?  And what version of apollo-server-express are you using?

[2017-11-08 22:49] j opened #23 "Work with schema stitching."
`apollo-errors` doesn't work when using `mergeSchemas`.

[2017-11-09 16:37] guikubivan commented on #21
This also happens just with `graphql` and `express-graphql` (not apollo server).

[2017-11-18 10:44] babbarankit commented on #23
Same issue.

[2017-11-22 05:11] thebigredgeek commented on #23
oh wow! I haven't actually had a use case that requires `mergeSchemas` yet.  Let me look into this over thanksgiving break!  Can someone post an example or test case?  That would be super useful

[2017-11-22 05:14] thebigredgeek commented on #21
Hmm looks like perhaps other server implementations are swallowing the error.  We actually had a way of handling this before but we removed it when Apollo Server fixed the error masking "regression".  I'll look into this over thanksgiving!  Thanks for the report

[2018-01-03 03:09] rohmanhm opened #25 "Data values as array of object instead of object"
If I put the data value as an object like your example
[code]
That will throwing something like this.
[code]

But, if I put my data as an array of object.
[code]
Why it's throwing the data as object, not an array of object?

[code]

I need my data to be an array of object, is that possible?

[2018-01-12 05:51] makstr commented on #23
@j Perhaps this is outdated, but as of now I do not seem to be having any problems with mergeSchemas

[2018-01-13 18:58] thebigredgeek commented on #25
This is definitely a bug.  I'll look into it

[2018-01-14 22:42] gordonk opened #26 "es6-error v4.1.0 breaks formatError"
Thanks for your library.  Its a great little helper.

in formatError function, with es6-error v4.0.6..
!name false
!isInstance(originalError) false

in formatError function, with es6-error v4.1.0..
!name false
!isInstance(originalError) true

Which prevents the serialization of the new merged message and just returns the original message without any data, processing of location/path options etc.

[2018-02-13 12:29] lookapanda opened #27 "showPath option is not doing anything"
[code]

**Expected Behaviour**
It shows the path in the GraphQL result.

**Actual Behaviour**
It is not showing the path, only if I enable `showLocations` too, which I don't want.

[2018-02-19 21:14] thebigredgeek commented on #26
Can you submit a PR?

[2018-02-19 21:15] thebigredgeek commented on #27
Can you submit a PR?

[2018-02-19 21:15] thebigredgeek commented on #23
Ok cool.  I'll close this.  Thanks!

[2018-02-19 21:15] #23 closed

[2018-02-19 21:15] thebigredgeek commented on #20
Can you confirm whether or not this is still an issue with Lambda?

[2018-02-19 21:16] thebigredgeek commented on #21
Can you confirm that this is still an issue?

[2018-02-20 11:10] yhjor commented on #21
https://github.com/thebigredgeek/apollo-errors/issues/21#issuecomment-366804523
For me, yes.

The FE only recongizes `GraphQLError` instead of the custom one.

[2018-02-23 00:57] thebigredgeek commented on #21
Hmm, what do you mean the FE?  This lib is only really concerned with the BE response, not how the FE processes it.

[2018-02-23 01:36] thebigredgeek commented on #27
Should be fixed in [1.7.0](https://github.com/thebigredgeek/apollo-errors/releases/tag/1.7.0)

[2018-02-23 01:36] #27 closed

[2018-02-23 01:38] thebigredgeek commented on #26
`es6-error` isn't used in this lib.  Can you give more context to your issue?  Are you throwing an `es6-error` yourself?

[2018-02-23 01:51] thebigredgeek commented on #25
Actually, after looking, this isn't actually a bug.  We dereference the data passed into the error constructor and merge the two objects together (the definition data and the instance data).  For that reason, we both values to either be of the same type (`Object`) or empty (`null`/`undefined`).

Could your use case be satisfied by inserting an array onto the `data` object as a property?  It should

[2018-02-23 01:51] #25 closed

[2018-02-23 01:54] thebigredgeek commented on #21
After re-reading this, I feel like I have a better handle on this.  Our lib doesn't currently "transform" external errors automatically into "ApolloError" instances.  However, I'd love to implement something like that!  Do you happen to have time to submit a PR to add that functionality?

[2018-02-23 01:55] thebigredgeek commented on #15
I'm closing this for now since I haven't heard anything in a while

[2018-02-23 01:55] #15 closed

[2018-02-23 05:47] yhjor commented on #21
Not exactly FE, but the error instance input from `formatError` appears with `GraphQLError` instead of the defined one.

Let me take a look inside and if I have time to make a PR with it.

[2018-02-23 06:22] thebigredgeek commented on #21
Right that might be because it's not an instance of an `ApolloError`, which unfortunately isn't the same thing :(

[2018-02-26 16:47] prperrino opened #28 "Message not propagating in 1.7.1"
Changes between versions 1.5.1 and 1.7.1 appear to have broken the message field propagation when using createError:

const myError = createError('BadError', { message: "This is bad"});
var theError = new myError();
console.log(theError.message)

output of message field is undefined....

Works great in 1.5.1, broken in 1.7.1

[2018-02-26 18:54] azterix commented on #28
I am seeing the same thing. I don't know enough about the history and/or reasoning to use `arguments[2]` in the ApolloError constructor (instead of using the `config` variable) to put in a PR for it, but there are only 2 args in the arguments array when I through and the relevant data is in config / arguments[1].

I haven't tried v 1.5.1 myself, but by tweaking that argument reference it works as

[2018-02-26 19:45] thebigredgeek commented on #28
Thanks!  I'll try to submit a fix for this later tonight

[2018-03-01 12:49] lookapanda commented on #28
Somehow this only happens if I run it in production mode, locally it works?

[2018-03-02 15:29] groundmuffin commented on #28
Please, fix this )

[2018-03-05 03:57] Connorelsea commented on #28
I am attempting to throw an error inside of a resolver by doing throwing an error created using apollo-errors

[code]

On the frontend when this error occurs, the message is not displayed.

![image](https://user-images.githubusercontent.com/1844458/36956937-af834c9e-1ff6-11e8-824a-a09b8ac9a7e1.png)

[2018-03-06 15:00] lobodart commented on #28
Any update on this? I had to downgrade to 1.5.1 😞

[2018-03-11 19:36] joshmanders commented on #28
bump

[2018-03-12 15:35] lxcid commented on #21
I'm facing similar issue as well though. :(

[2018-03-13 17:49] maxtechera commented on #26
`es6-error` was used in version 1.5.1. Try updating your `apollo-errors` version!

[2018-03-13 21:13] gordonk commented on #26
Hopefully anyone stumped between 15/1 and 22/2 when 1.7 came out was helped :)
Thanks for the util @thebigredgeek.  Use it in all my projects.

[2018-03-14 12:58] n1ru4l commented on #20
I am using this package with apollo-server-lambda, it works fine and it is totally awesome! Thank you, I think we can close this issue ☺️

[2018-03-14 13:17] n1ru4l opened #30 "Feature Proposal: `internalData` Property on ApolloError Constructor"
It would be awesome if we could have an `internalData` property on the Error constructor.

The `internalData` object is intended to be for data that is not intended to be sent to the client.

Instead it should be used for sensitive data.

E.g. A third party HTTP call timed out and you want to give your user an unspecified error, but still collect some detail data in your server logs.

At the momen

[2018-03-16 00:53] thebigredgeek commented on #30
PR is welcome so long as the change isn't breaking!  You'd want to add an additional property called `internalData` rather than sticking it on the `data` object as a child

[2018-03-17 07:15] dakshshah96 opened #31 "GraphQL response is always null"
I have a mutation to create an admin for my system:

[code]

The mutation definition is like this:

[code]

I've defined my error here:

[code]

The response is get is always:

[code]

**EDIT**: I've narrowed down this problem to the fact that I'm using `async/await` in my mutation functions and handling errors using `try/catch` blocks. I'd like to know the right way to use apollo-errors with `asy

[2018-03-17 13:19] dakshshah96 commented on #28
Any updates on this?

[2018-03-17 20:33] luisgrases commented on #31
#32

[2018-03-17 20:35] luisgrases commented on #28
just created a simple pull request: #32

[2018-03-18 17:52] luisgrases commented on #28
My pull request still doesn't fix all issues so it is better to just use 1.5.1

[2018-03-18 21:09] ecwyne commented on #28
#29 should also fix this issue

[2018-03-18 21:40] guico33 commented on #31
Hi, how about rethrowing any caught `ApolloError`? That way it should work as intended and you can still manage the error handling of any other operation the way you want.
[code]

[2018-03-21 03:38] thebigredgeek commented on #17
Bump.  Is anyone here interested?  I need halp!

[2018-03-21 09:01] meel-io commented on #17
I'm in 👍

[2018-03-22 20:20] ch-andrewrhyne commented on #17
@meel-io done!

[2018-03-27 09:11] lxcid opened #33 "Spec compliant error"
Recently, GraphQL Response Specification got updated with a suggestion to place custom data in error in the `extensions` object. The spec can be found here https://github.com/facebook/graphql/blob/master/spec/Section%207%20--%20Response.md

An excerpt of the relevant section:

[code]

[2018-03-28 02:14] thebigredgeek commented on #33
PRs are welcome!

[2018-03-28 02:15] lxcid commented on #33
Sure man PR at #35

[2018-03-28 02:36] thebigredgeek commented on #33
Thanks!  Merged!  If you wanna have a whack at fixing 1.7.1 bugs and add more test coverage, I am also happy to merge more PRs.  I can't release this (`2.0.0`, since it's a breaking change) until we get the bugs from the TS refactor sorted out.  Also, I am looking for additional core contributors if you are interested

[2018-03-28 02:48] lxcid commented on #33
Thanks! I sent a PR for the constructor fix in #34.

The fix is very similar to #29. But one difference is that `newConfig` or (`arguments[2]`) have the highest precedent when merging. It also make sure to merge `data` and `options`.

I can rebase on top of the reverted on top of the reverted PR and continue the discussion from there.

[2018-03-30 04:35] gijo-varghese opened #38 "How to add formatError to subscriptions end-point"
My Apollo client uses subscription endpoint for both queries and mutations. How can I use it for subscription end-point?

[2018-03-30 04:35] gijo-varghese commented on #38
https://github.com/apollographql/subscriptions-transport-ws/issues/385

[2018-04-01 02:38] joshmanders commented on #33
@thebigredgeek I'm using this heavily in a few projects and plan on releasing an open source boilerplate that includes it, I'm more than willing to help maintain it.

[2018-04-01 06:05] lxcid commented on #33
I can help in an ad hoc and second opinion manner.

[2018-04-04 18:32] groundmuffin commented on #28
i actually lost sleep because of this issue :)

[2018-04-08 08:09] DanielKillenberger opened #39 "Returned error empty message"
I can't seem to figure out why the message I define as a parameter for createError is not being returned when instantiating a new error.
But when I instantiate the error with a message the message gets returned as expected.

E.g. the following error:

[code]

I instantiate the error as follows:

[code]

The resulting response is this (notice the empty message):

[code]

But when I instantiate the

[2018-04-09 00:12] kyle-mccarthy commented on #39
I'm experiencing this issue as well with an apollo and koa set up.  If I pass a message to the error like `throw new FooError({ message: 'some message' })` the message will show, otherwise it is an empty string.

[2018-04-11 04:13] thebigredgeek commented on #38
Unfortunately I never found a way to make this work.

[2018-04-11 04:16] thebigredgeek commented on #28
A fix for this should be live in `1.8.0`.  Can anyone here confirm?

[2018-04-11 04:17] thebigredgeek commented on #39
Closing this as a duplicate of https://github.com/thebigredgeek/apollo-errors/issues/39

[2018-04-11 04:17] #39 closed

[2018-04-11 04:17] thebigredgeek commented on #33
Can we create a second PR for this?  I'd like to release in 2.0

[2018-04-11 04:17] #20 closed

[2018-04-11 04:18] #10 closed

[2018-04-11 07:43] DanielKillenberger commented on #39
Is the closing of this issue a mistake?
Especially as the issue has been marked as a duplicate of itself.

[2018-04-11 12:36] joshmanders commented on #28
@thebigredgeek confirmed it works.

[2018-04-11 16:32] thebigredgeek commented on #39
Sorry, wrong URL.  No, closing was not a mistake.  This should be fixed in `1.8`.  If you are still having the issue, can you reply here?

[2018-04-11 16:34] thebigredgeek commented on #31
Yes, if you are already catching the error then you need to re-throw it if you want the error to continue propagating.  Otherwise, you've already handled the error and the Promise won't reject.

[2018-04-11 16:34] #31 closed

[2018-04-11 16:34] #26 closed

[2018-04-11 16:35] thebigredgeek commented on #30
Happy to merge your PR once docs are updated :)

[2018-04-11 16:35] thebigredgeek commented on #38
Happy to review a PR to make this work.  Until then, closing the issue

[2018-04-11 16:35] #38 closed

[2018-04-11 16:35] #21 closed

[2018-04-12 08:57] DanielKillenberger commented on #39
1.8 fixed it!
Thanks :)

[2018-04-18 03:39] thebigredgeek commented on #33
Bump

[2018-04-18 03:41] lxcid commented on #33
Sorry I miss this message. I'll try send a PR your way today or tomorrow!

[2018-04-18 20:30] ayoubice commented on #17
We have started using this package as the main error handler. It has saved a lot of time and efforts for us. I will be more than happy to contribute to this project.

[2018-04-21 22:57] #30 closed

[2018-04-28 03:04] SachaG opened #43 "Reasoning behind the two-step error pattern?"
The "normal" way to use this package is:

[code]

However, that seems a bit cumbersome to me. Is there a reason why the API doesn't look something like this instead?

[code]

[2018-05-01 22:30] ayoubice commented on #43
@SachaG: Theoretically, you can use ApolloError class. `createError` it only binds to ApolloError class.
https://github.com/thebigredgeek/apollo-errors/blob/181c105cc9d48778a5842dc4fdeb5eb567b95647/src/index.ts#L92

On my use case, I am using it to format errors
[code]

[2018-05-09 18:18] alex-dixon commented on #43
@SachaG It seems possible to get the error you threw via the `originalError` property on the error passed to `formatError`. So you can create errors however you like and if you're concerned about finding them there you go.

Since I installed this lib thinking it was necessary to get information from my custom errors I might just stick with this which gets around the problem you're describing somew

[2018-05-10 18:40] dakshshah96 opened #44 "Working with Apollo Server 2.0"
How would I use `apollo-errors` with Apollo Server 2.0? Example:

[code]

[2018-05-21 06:28] appsolutegeek opened #46 "Where to add to GraphQL Yoga ?"
Currently starting my server like so

    const server = new GraphQLServer({
      typeDefs: this.typeDefs,
      resolvers: shieldedResolvers as any
    });

which works great. So now I want to add the formatErros into the mix. Although I am unsure what it is..

These are the props that I have that are taken from the contructor.

`    constructor(props: Props);`

[code]

Of course its not typeDef

[2018-05-24 06:18] theGlenn commented on #44
Apollo 2.0 already implements a built error handling mechanism. You can check it at: https://www.apollographql.com/docs/apollo-server/v2/features/errors.html

[2018-05-25 03:30] thebigredgeek commented on #44
Yep true but it's super basic!

[2018-06-06 21:43] #44 closed

[2018-06-07 12:00] theGlenn commented on #44
@dakshshah96 @thebigredgeek , with Apollo's new system, error generation might be the way to go. A simple script that generates Apollo error classes from a JSON definition file.

[2018-06-08 02:33] thebigredgeek commented on #44
That sounds neat! Down to explore it

[2018-06-08 16:07] theGlenn commented on #44
I got inspired a little started working on this here project is called [apollo-pythian](https://github.com/theGlenn/apollo-pythian) not yet production ready tho.

I created an issue to make it work with third party library Apollo libraries like `apollo-erros`
https://github.com/theGlenn/apollo-pythian/issues/2

[2018-06-08 16:10] theGlenn commented on #17
Count me in if you still need help 🙌

[2018-06-08 16:11] theGlenn commented on #33
@lxcid @thebigredgeek bump

[2018-06-14 21:16] theGlenn commented on #33
Why has #35 been reverted 🤔

[2018-06-15 22:48] theGlenn opened #48 "Create V2.0 Branch"
Seems like **release 2.0** has been on hold for a little while now and important updates like #35 have not been implemented yet.

@thebigredgeek  shall we create a v2 branch and start merging features like #35 ?

Not sure what the correct workflow should be for that.

[2018-06-28 16:47] gandhiamarnadh opened #49 "message as an object"
would be helpful to define errors with message objects. (that can carry more static info regarding the error like  severity)

I would like to make a PR changing the current type of message to union of string and object

please let me know your opinion

[2018-06-28 18:24] theGlenn commented on #49
Hey @gandhiamarnadh, could give you us more details with a code sample for example?

[2018-06-28 18:28] gandhiamarnadh commented on #49
this is my usecase, the ui can handle errors gracefully based on severity
`export const WrongCredentialsError = createError('WrongCredentialsError', {
  message: {
  content: 'The provided credentials are invalid.',
  severity: 9,
  supportSeverity: 0
  },
});
`

[2018-06-28 18:57] theGlenn commented on #49
The consensus in the GraphQL and Apollo community is to try and stick to the spec as much as possible.
What you are proposing is too much of change regarding what the spec says about `message`:

Take a look at it here http://facebook.github.io/graphql/draft/#sec-Errors.

You can add static informations to your errors using `createError`:

[code]

Note: The data field will be renamed `extensions` i

[2018-06-28 19:12] gandhiamarnadh commented on #49
thanks @theGlenn i didn't know that data field is extensible

[2018-06-28 19:12] #49 closed

[2018-07-19 07:54] appsolutegeek opened #50 "losing stack trace, anyway to retain it ?"
Hi,

I am throwing a number of custom errors further up my project and these I generally would log before throwing, these are standard custom errors that inherit from the Error object in nodejs.

When I arrive at my resolver, I generally capture the error and throw an "apollo errors" Error but I lose the stack trace, the stack trace only has the entry of where I threw the new apollo error but noth

[2018-07-19 18:51] thebigredgeek commented on #43
If you only throw `ApolloError`, you can't use `instanceof`.  That was my main reasoning for the `two step` process.  It's usually best to throw typed errors imho

[2018-07-19 18:51] #43 closed

[2018-07-19 18:52] thebigredgeek commented on #48
Yeah I think that's a good idea.  I think we should try to get as many breaking changes as possible out of the way in v2, including spec compliance.

[2018-07-19 18:52] #17 closed

[2018-07-19 18:52] thebigredgeek commented on #4
Closing this for now

[2018-07-19 18:52] #4 closed

[2018-07-21 14:49] theGlenn commented on #48
Alright done let's try and those into version-2
https://github.com/thebigredgeek/apollo-errors/tree/version-2

[2018-07-21 14:49] #48 closed

[2018-07-21 14:56] theGlenn commented on #33
@lxcid We reopenned this against version-2 branch could take a look at it ?

[2018-07-24 23:31] ash0080 commented on #28
@thebigredgeek missing again in 1.9 plz reopen it

[2018-07-25 08:02] thebigredgeek commented on #33
This should be against version 2 should it not?  I think that was why I reverted originally, too much push back about the breaking change.

[2018-07-25 08:03] thebigredgeek commented on #28
@theGlenn I thought we had a test case for this.  confused haha

[2018-08-17 21:08] pcorey commented on #28
I'm also facing this issue. It only seems to happen in production for me. Locally everything works fine.

[2018-08-21 21:12] AdelBachene commented on #50
I have the same issue

[2018-08-21 21:31] AdelBachene commented on #50
I have the same problem eventhough adding the source error in the internalData and data

I could still see it in all catches but I lost when it arrives at  format error Im able to see the message only

[2018-08-30 14:32] thebigredgeek commented on #50
@appsolutegeek are you using schema stitching as well?

[2018-08-30 14:34] appsolutegeek commented on #50
no, I used another library to merge my schema...

[2018-09-11 00:12] danielmahon opened #54 "How do you compare a thrown error to an ApolloError type?"
If I set a shared list of known errors:
[code]

How do you compare a thrown error to it's bound function? None of these seem to work

[code]

Simpliest way I found:

[code]

I feel like I'm missing something simple 😕

[2018-09-13 22:53] codegoblin commented on #50
@thebigredgeek I am also curious how one should go about solving this problem. Let's say my model layer is calling a connector and that connector throws an error. What's the proposed way to bubble up that original error's stacktrace to the graphql response's errors array? If you use an ApolloError in the resolver to mask the original connector error, it would seem that the returned stacktrace is p

[2018-10-11 11:53] marcusx opened #55 "apollo-errors vs apollo-server built in ApolloError?"
Can you describe the advantage/difference using apollo-errors compared to
https://www.apollographql.com/docs/apollo-server/features/errors.html#Other-errors that are described in the apollo-server docs?

[2018-10-11 18:34] aneilbaboo commented on #33
Hi, @thebigredgeek I notice that lxcid's PR is in the version-2 branch, but npm is still at 1.9.0.

Is it ok to use version-2, or are there still some remaining issues?

[2018-10-24 09:29] rosendi commented on #54
I'm also curious to know.

[2018-12-23 09:53] zenVentzi commented on #55
Hi @marcusx , did you figure it out? I've been wondering about the same thing as well

[2019-01-03 21:15] thebigredgeek commented on #55
TBH they are pretty similar.  Apollo added similar functionality in 2.0, and has said it was heavily inspired by this package.  In pre-1.0 and 1.x, there was no such functionality.

[2019-08-06 18:34] #55 closed

[2019-08-06 18:36] thebigredgeek commented on #54
Hmm interesting, this sounds like a bug tbh.  You should be able to use the `instanceof` operator, as the error should be an instance of the class.  That said, I don't know if you can do that within the `formatError` block because GraphQL has already performed a bit of serialization and it's not the same class IIRC.  You should be able to type check with `instance` prior to the error being thrown

[2019-08-06 18:36] #54 closed

[2019-08-06 18:37] thebigredgeek commented on #50
PRs welcome on this.  Closing for now

[2019-08-06 18:37] #50 closed

[2019-08-06 18:37] thebigredgeek commented on #33
@lxcid was this ever completed and merged?

[2019-08-06 18:38] thebigredgeek commented on #28
@theGlenn did you have a chance to test for this?

[2020-04-03 00:26] kylewhitaker commented on #33
@thebigredgeek How can I help resolve this issue and get V2 published? Right now we're monkey-patching the error response object at the last second as a workaround. Should we switch over to a different package that is better supported? Thanks for any help. cc: @jonesmac @tarazena @mwlevel20

[2020-04-16 17:09] santanuyogi opened #66 "How to pass variables into the error message."
This is more of a question than it is an issue. Is there any way to pass a variable into the error message?

If I have the following error message:
[code]
How can I get that username into the apollo-errors? Is there a way to pass it as an argument?
[code]
Inside my error file that imports apollo-errors:
[code]
Please let me know if there is some way to accomplish this.

[2020-04-28 13:03] darrylyoung commented on #33
Is there anything anybody can do to move this forwards and get 2.0 released?

[2020-05-14 03:39] thebigredgeek commented on #33
@kylewhitaker you can put together a PR that implements the desired functionality to resume spec compliance, against version 2.  Once that is done I'll release it

[2021-02-14 20:08] xaeli commented on #66
Hi, just found this library, but I think you could achieve that behavior using a HOC to wrap the error creation, that way you could send a custom message, maybe it's too late for the reply but someone might find it useful

[2021-02-14 22:37] xaeli commented on #66
Also, you could just overload the message as it's in the docs

[2021-10-18 15:33] renovate opened #73 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/thebigredgeek/apollo-errors).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

##